# Build outputs
bin/
obj/

# Publish outputs
artifacts/
アプリケーション/

# Temporary build project files
*_wpftmp.csproj

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider/VSCode
.idea/
.vscode/

# OS
Thumbs.db
.DS_Store
